.idea/.*
.idea/*
Payhub - SDK/ruby_SDK/.idea/*
Payhub - SDK/java_SDK/.metadata/*
Payhub - SDK/php_SDK/.idea/*
Payhub - SDK/c#_SDK/PayHubSDK/PayHubSDK/obj/Debug/*.txt
Payhub - SDK/c#_SDK/PayHubWS_sample_app/PayHubWS_sample_app/obj/Debug/*.txt
